@model CodingPie.ViewModels.CreatePieViewModel
@{
}

<p>Use this form to add new Pie</p>
<div>
    <form enctype="multipart/form-data" asp-action="Add">
        <div class="form-control">
           @* <div>
                <label asp-for="Id"></label>
                <input type="number" asp-for="Id"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div>
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label>Price</label>
                <input type="number" asp-for="Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Description"></label>
                <input type="text" asp-for="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Photo"></label>
                <div>
                    <input asp-for="Photo" />
                    
                </div>
                
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}